body {
    background-color: rgb(252, 227, 230);
}
h1 {
    background: linear-gradient(to bottom, rgb(187, 128, 139), rgb(252, 227, 230));
    color: rgb(58, 51, 46);
    text-transform: uppercase;
    padding-top: 10px;
}
p {
    background-color: rgb(253, 245, 239);
    font-size: 20px;
}
p q {
    color: rgb(73, 13, 13);
}
li {
    font-size: 18px;
    margin-bottom: 10px;
}
ul li {
    list-style: circle;
    font-size: 20px;
}
li a {
    color:rgb(68, 59, 53);
    text-decoration: none;
}
li a:hover {
    color:rgb(73, 13, 13);
}
hr {
    color: rgb(187, 128, 139);
    list-style: ;
}